.imgData{
    margin-top: 60%;
    
}

.headColor{
    color: red !important;
}

#head {
    fill: green;
 }
@keyframes rotate  {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes rotateReverse  {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes your-rotation-animation-name {
    0%   { transform: rotate(0deg); }
    30%  { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }

  #cog1{
    transform-origin: center center; // Rotate about their own center.
    transform-box: fill-box;
    animation: rotate 4s infinite 0s linear; 
    outline: brown;
    fill: cadetblue;
    // Using animation 'rotate' for infinitely long, with a linear speed-curve.
}

#cog2{
    transform-origin: center center;
    transform-box: fill-box;
    animation: rotateReverse 4s infinite 0.8s linear;
    fill: brown;
}